<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <p><h5>Sapient Weather Report</h5></p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <div>
                <p><h5>Current City</h5></p>
                <p th:text="${weatherModelResponse.getCity()}"></p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <div>
                <p><h5>Max Temp in next 3 days</h5></p>
                <p th:text="${weatherModelResponse.getTempMax()}"></p>
            </div>

            <div>
                <p><h5>Min Temp in next 3 days</h5></p>
                <p th:text="${weatherModelResponse.getTempMin()}"></p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div>
                <div th:if="${weatherModelResponse.isRainPredictedInNext3Days()}">
                    <h5>Carry umbrella</h5>
                    <h5>As Rain Is predicted in Next 3 days</h5>
                </div>
                <!--<div th:if="${weatherModelResponse.getRainTimeWindow() != null}">-->
                <!--<h5>Rain Window of 3 hours</h5>-->
                <!--<ul>-->
                <!--<li th:each="item : ${weatherModelResponse.getRainTimeWindow()}" th:text="${item}">Item description here...</li>-->
                <!--</ul>-->
                <!--</div>-->


                <div>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                        <tr>
                            <th>Starting time window</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${weatherModelResponse.getRainTimeWindow()}">
                            <td th:text="${item}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div th:if="${weatherModelResponse.isDoesTemperatureGoBeyond40DegreeCelsius()}">
                <p>Does Tep Go beyond 40 C in next three days</p>
                <h3>"Use sunscreen lotion"></h3>
                <h3>"As temp is predicted to cross 40 C in Next 3 days"></h3>

                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Starting time window</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${weatherModelResponse.getHighTempWindow()}">
                        <td th:text="${item}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>